
:root{
    /* Header and footer */
    --Ascent: #567C42;
    --Nav-Bar-White: #F4FFED;
    --systems2-Footer-Hover: #E8F58C;

    /* general colors */
    --systems2-White: #E9F3FF;
    --systems2-Black: #111215;
    --systems2-primary: #324676;
    --systems2-secondary: #B7D7FE;
    --Color-Option-1: #90C86B;
    --Buttons-2nd-Accent: #1E4B7C;
    --Buttons-hover: #0D2439;
}

*{
font-family: "Palaquin", sans-serif;
}

html{
    background-color: var(--systems2-White);
}

p{
    background-color: none;

    /* typography */
    font-family: Palanquin;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

strong{

    /* typography */
    font-family: Palanquin;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

a:hover{
    cursor: pointer;
}

.abtn{
    color: var(--systems2-White);

    display: flex;
    padding: 13px 61px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;

    /* strong */
    font-family: Palanquin;
    font-size: 28px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 43.2px */
    max-width: 300px;

    border-radius: 10px;
    background: var(--Buttons-2nd-Accent);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: 1s ease;
}

.abtn:hover{
    background: var(--Color-Option-1);
}

h1{
    margin: 0;
    color: var(--systems2-White);

    /* h2 header Palanquin */
    font-family: Palanquin;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 57.6px */
}

h2{
    /* h2 header Palanquin */
    font-family: Palanquin;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 57.6px */
}

/* header */

header{
    padding: 20px;
    background-color: var(--Ascent);
    display: flex;
    flex-direction: column;
}

.logoandham{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    width: 240px;
    height: 90px;
}

header ul{
    list-style: none;
    padding: 0;
}

header li a{
    display: block;
    font-size: 32px;
    color: var(--Nav-Bar-White);
    text-decoration: none;
    line-height: 200%;
}

header li a:hover{
    color: var(--systems2-Footer-Hover);
}

/* hero section */
.hero{
    background: linear-gradient(rgba(30, 75, 124, 0.40), rgba(30, 75, 124, 0.40)),
    url(images/constructionworkerssmall.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    padding-bottom: 40px;
}

.hero p{
    color: var(--systems2-White);

    /* strong */
    font-family: Palanquin;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 43.2px */
}

.CTA{
    border-radius: 10px;
    background: var(--Buttons-gradient, linear-gradient(270deg, #1E4B7C 0%, #0D2439 100%));
    box-shadow: 9px 10px 6.1px 0 rgba(0, 0, 0, 0.62);
    display: flex;
    margin: auto;
    padding: 20px 61px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    max-width: 300px;

    text-decoration: none;
    color: var(--systems2-White);

    /* strong */
    font-family: Palanquin;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 43.2px */

    /* animation */
    transition: 1s ease;
}

.CTA:hover{
    background: var(--systems2-White);
    color: var(--systems2-Black, #111215);
}


/* featured section */

.featured img{
    border-radius: 16px;
}

.featured article{
    border-radius: 0 48px;
    border: 9px solid var(--systems2-primary);
    padding: 20px;
    margin: 20px
}

.featured article p{
    color: var(--systems2-primary);
}

.featured article strong{
    /* strong */
    font-family: Palanquin;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 43.2px */
}

.card1{
    background: var(--Color-Option-1);
}

.card2{
    background: var(--systems2-secondary);
}

/* mission section */

.missionbgimage{
    background: linear-gradient(0deg, var(--Mission-statement-level, rgba(30, 75, 124, 0.70)) 0%, 
    var(--Mission-statement-level, rgba(30, 75, 124, 0.70)) 100%), 
    url(images/paperworkwithwritingsmall.jpg) lightgray 50% / cover no-repeat;

    padding: 40px;
}

.mission h2{
    text-align: center;

    color: var(--systems2-White);
}

.lightbluebg{
    background-color: var(--systems2-secondary);
    padding: 40px;

    color: var(--Buttons-hover);
}

.lightbluebg p{
    margin: 0;

    /* small text */
    font-family: Palanquin;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 31.2px */
}

.mission a{
    margin: 40px auto 40px auto;
}

.missionbtn{
    margin-left: 20px;
    margin-right: 20px;
}

.mission .darkbluebg{
    background: var(--systems2-primary);
    /* remove after partner section */
    background-color: var(--systems2-Black);
    padding: 20px;
}

.callout{
    color: var(--systems2-White);
    margin: 0;

    /* h3 header Palanquin */
    font-family: Palanquin;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
}

/* Partners Section */
.partners{
    display: none;
    background-color: var(--systems2-Black);
    padding: 20px;
}

.partners h2{
    margin: 0;

    color: var(--systems2-White);
}

.partners p{
    color: var(--systems2-White, #E9F3FF);
}

/* testimonial section */

.testimonials{
    background-color: var(--systems2-primary);
    padding: 20px;
}

.testimonials h2{
    margin: 0;

    color: var(--systems2-White);
}

.testimonials div{
    display: grid;
    grid-template-columns: 1 auto 2 3 4 auto 5;
}

.testimonials .testimonialquotemarkleft{
    grid-column: 1;
    color: var(--systems2-White);
    font-size: 36px;
    align-self: start;
}

.testimonials .testimonialmiddle{
    padding: 10px;
    grid-column: 2/4;
    color: var(--systems2-White);
    font-size: 32;
}

.testimonials .testimonialquotemarkright{
    grid-column: 5;
    align-self: end;
    color: var(--systems2-White);
    font-size: 36px;
}

.testimonials .leftaligned{
    color: var(--systems2-White, #E9F3FF);
    text-align: right;

    /* small text */
    font-family: Palanquin;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 31.2px */
}

/* CTA section */

.CTAsection{
    background-color: var(--systems2-secondary);
    padding: 20px;
}

.CTAsection h2{
    margin-top: 0;
}

.CTAsection .CTA{
    margin-bottom: 40px;
}

/* Contact Us section  */

.contactsection{
    padding: 20px;
    background: linear-gradient(0deg, rgba(233, 243, 255, 0.50) 0%, rgba(233, 243, 255, 0.50) 100%), 
    url(images/constructionmanonphonesmall.jpg) lightgray 50% / cover no-repeat;
}

.contactsection h2{
    margin-top: 0;
    margin-bottom: 0;
}

/* footer */

/* information footer */

footer .topfooter{
    background-color: var(--Ascent);
    padding: 10px
}

footer p{
    font-size: 24px;
    color: var(--Nav-Bar-White);
    margin: 0;
    margin: 20px 10px 20px 10px;
}

footer p a{
    color: var(--Nav-Bar-White);
}

footer p a:hover{
    color: var(--systems2-Footer-Hover);
}

footer p .smalltext{
    font-size: 20px;
}

footer ul li{
    /* strong */
    font-family: Palanquin;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 175%;
}

footer ul{
    list-style: none;
    padding: 0;
    margin: 20px 10px 20px 10px;
}

footer ul li a{
color: var(--Nav-Bar-White);
text-decoration: none;
}







/* bottom footer */
footer .bottomfooter{
    background-color: var(--systems2-Black);
    padding: 10px;
}

footer .bottomfooter p{
    margin: 0;
    color: var(--systems2-White);
    font-weight: 300;
}

footer .bottomfooter p a{
    margin: 0;
    color: var(--systems2-White);
    font-weight: 300;
}

footer .bottomfooter p a:hover{
    color: var(--systems2-Footer-Hover);
}